<!DOCTYPE html>
<html>
<head>
  <title>Aplikacja do obsługi przetargów</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f5f5f5;
    }
    .jumbotron {
      background-color: #337ab7;
      color: #ffffff;
      padding: 20px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Aplikacja do obsługi przetargów</h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Lista przetargów</h2>
        <p><a href="/tenders" class="btn btn-primary">Zobacz listę przetargów</a></p>
      </div>
      <div class="col-md-4">
        <h2>Dodaj nowy przetarg</h2>
        <p><a href="/add-tender" class="btn btn-success">Dodaj nowy przetarg</a></p>
      </div>
      <div class="col-md-4">
        <h2>Zamknięte przetargi</h2>
        <p><a href="/closed-tenders" class="btn btn-info">Zobacz zamknięte przetargi</a></p>
      </div>
    </div>
  </div>
</body>
</html>